@import 'tailwindcss';

@font-face {
    font-family: instru-sans;
    src: url("/fonts/InstrumentSans-Regular.ttf");
}

@font-face {
    font-family: instru-serif;
    src: url("/fonts/InstrumentSerif-Regular.ttf");
}

@theme{
    --font-sans: 'instru-sans';
    --font-serif: 'instru-serif';
}

@keyframes heart-burst {
  0% { transform: scale(1); opacity: 1; }
  30% { transform: scale(1.5); opacity: 1; }
  60% { transform: scale(1.2); opacity: 1; }
  100% { transform: scale(1); opacity: 1; }
}

.animate-heart-burst {
  animation: heart-burst 0.8s ease forwards;
}
